@using CodigoComun.Entities
@model IEnumerable<Articulo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Soy el Index de Articulos!</h1>
<a class="btn btn-dark" asp-action="Create">Agregar</a> 
<table class="table table-dark table-striped table-bordered border-white">
    <thead>
        <tr>
            <th>
                Id:
            </th>
            <th>
                Nombre:
            </th>
            <th>
                Marca:
            </th>
            <th>
                MinimoStock:
            </th>
            <th>
                Proveedor:
            </th>
            <th>
                Precio:
            </th>
            <th>
                Codigo:
            </th>
            <th>
            Opciones:
            </th>

        </tr>
    <thead />
    <tbody>
            @foreach(var item in Model)
            {
                <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Marca</td>
                <td>@item.MinimoStock</td>
                <td>@item.Proveedor</td>
                <td>@item.Precio</td>
                <td>@item.Codigo</td>
                <td>
                    <a class ="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class ="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
                </tr>
                

            }
        </tbody>
<table />
