@using CodigoComun.DTO
@model IEnumerable<DepositoDTO>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Soy el Index de Depositos!</h1>
<a class="btn btn-dark" asp-action="Create">Agregar</a> 
<br />


@if (TempData["AlertMessage"] != null)
{
    var data = Convert.ToString(TempData["AlertMessage"]);
    if (data.StartsWith("Deposito"))
    {
        <div class="alert alert-success alert-dismissible">
            <strong>Exito! </strong>@TempData["AlertMessage"]
            <button class="btn-close" type="button" data-bs-dismiss="alert">
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible">
            <strong>Error! </strong>@TempData["AlertMessage"]
            <button class="btn-close" type="button" data-bs-dismiss="alert">
            </button>
        </div>

    }
}
<table class="table table-dark table-striped table-bordered border-white">
<thead >
    <tr>
        <th scope="col">
        Id:
        </th>
         <th scope="col">
         Capacidad:
         </th>
         <th scope="col">
          Nombre:
         </th>
         <th scope="col">
         Direccion:
         </th>
         <th scope="col">
         Opciones:
         </th>

    </tr>
<thead/>
    <tbody >
            @foreach (var item in Model)
            {
            <tr>
                <th scope="col">@item.Id</th>
                <td>@item.Capacidad</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>
                    <a class ="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class ="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>


            }
    </tbody>
<table/>
